<?php

return [

   'api_baseurl' => 'http://localhost:1926',
   'front' => 'http://ekhidmah.unida.gontor.ac.id',
   'sister_baseurl' => 'http://sister.unida.gontor.ac.id/api.php/0.1',
   'sister_id_pengguna' => '',
   'sister_username' => '',
   'sister_password' => '',
   'sso_url' => 'http://local.sso.com:30101',
   'consumer_secret' => '',
   'consumer_id' => '',
   'crypt_algo' => 'aes-256-ctr',
   'jwt_key' => '',
   'client_token' => '',
    'redirectUri' => 'http://local.admisi.com/site/test',
   'sso_login' => 'http://local.central.com/site/login?callback=http://local.simpeg.com',
    'sso_logout' => 'http://local.central.com/site/sess-logout',
    'invoke_token_uri' => 'http://local.central.com/site/invoke-token',
    'feeder' => [
        'baseurl' => '',
        'username' => '',
        'password' => '',
    ],
    's3' => [
        'version' => 'latest',
        'region'  => 'us-east-1',
        'endpoint' => '',
        'use_path_style_endpoint' => true,
        'credentials' => [
            'key'    => '',
            'secret' => '',
        ],
    ],
    'email' => [
        'class' => 'Swift_SmtpTransport',
        'host' => 'smtp.gmail.com',
        'username' => '',
        'password' => '',
        'port' => '',
        'encryption' => '',                                  
    ],
];
