@import url('../../../fonts/roboto/roboto.css');
@import url('../../../fonts/oswald/oswald.css');
html, body { min-height: 100%;}
*{ outline: none; }
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Oswald',sans-serif;
}
.login-page {
    background-color: #E9E9E9;
}
.login-box {
    width: 430px;
    margin: 5% auto;
}
.login-logo{
	font-family: 'Oswald',sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    color: #444;
}
.login-logo a{
    color: #444;
}
.login-logo a:hover{
    text-decoration: none;
}
.login-logo p.tagline{
	font-family: 'Roboto',sans-serif;
	font-size: 15px;
	font-weight: 400;
}
.login-box-body{
    background: #FFF;
    padding: 40px;
    border-top: 0;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.login-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}
.login-box-body h4{
	font-family: 'Oswald',sans-serif;
	color: #555;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
}
.login-box-body form{
}
.form-control:focus{
	box-shadow: none;
}

.btn-block + .btn-block {
    margin-top: 5px;
} 
.forgot-link{
	padding-top: 10px;
}
.login-box-footer{
	font-family: 'Roboto',sans-serif;
	text-align: center;
	font-size: 12px;
}
.validation-error p{
	margin-bottom: 0;
}
@media (max-width: 768px)
{
	.login-box {
		width: 90%;
		margin-top: 20px;
	}
}
.bottom-0{
	margin-bottom: 0;
}
