@media (max-width: 767px) {
	.navbar-nav > .user-menu .user-image {
		float: none;
		margin-right: 0;
		margin-top: -8px;
		line-height: 10px;
	  }
	.main-header .logo, .main-header .navbar {
		width: 100%;
		float: none;
	}
	.main-header .navbar {
		margin: 0;
	}
	.main-header .navbar-custom-menu {
		float: right;
	}
	.sidebar-open .content-wrapper,
	.sidebar-open .right-side,
	.sidebar-open .main-footer {
		-webkit-transform: translate(230px, 0);
		-ms-transform: translate(230px, 0);
		-o-transform: translate(230px, 0);
		transform: translate(230px, 0);
	}
	.main-sidebar, .left-side {
		-webkit-transform: translate(-230px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(-230px, 0);
		padding-top: 100px;
	}
	.content-wrapper, .right-side, .main-footer {
		margin-left: 0;
	}
	.sidebar-open .main-sidebar, .sidebar-open .left-side {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	.main-sidebar, .left-side {
		-webkit-transform: translate(-230px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(-230px, 0);
	}


}

/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
	.sidebar-collapse .main-sidebar, .sidebar-collapse .left-side {
		-webkit-transform: translate(-230px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(-230px, 0);
	}
	.sidebar-collapse .content-wrapper,
	.sidebar-collapse .right-side,
	.sidebar-collapse .main-footer {
		margin-left: 0;
	}
	.sidebar-mini.sidebar-collapse .content-wrapper,
	.sidebar-mini.sidebar-collapse .right-side,
	.sidebar-mini.sidebar-collapse .main-footer {
		margin-left: 50px !important;
		z-index: 840;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 50px !important;
		z-index: 850;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu > li {
		position: relative;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
		margin-right: 0;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
		border-top-right-radius: 4px;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
		border-bottom-right-radius: 4px;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom-right-radius: 4px;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
	.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
		display: block !important;
		position: absolute;
		width: 180px;
		left: 50px;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
		top: 2px;
		margin-left: -3px;
		padding: 12px 5px 12px 20px;
		background-color: inherit;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
		float: right;
		width: auto!important;
		left: 200px!important;
		top: 10px!important;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
		display: none;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
		top: 44px;
		margin-left: 0;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
	.sidebar-mini.sidebar-collapse .sidebar-form,
	.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
	.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
	.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
	.sidebar-mini.sidebar-collapse .sidebar-menu li.header {
		display: none !important;
		-webkit-transform: translateZ(0);
	}
	.sidebar-mini.sidebar-collapse .main-header .logo {
		width: 50px;
	}
	.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
		display: block;
		margin-left: -15px;
		margin-right: -15px;
		font-size: 18px;
	}
	.sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
		display: none;
	}
	.sidebar-mini.sidebar-collapse .main-header .navbar {
		margin-left: 50px;
	}
}
@media(max-width: 991px){
	.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
		background: #fff !important;
		color: #444 !important;
	  }
	.navbar-custom-menu .navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: 20px;
	}
	.navbar-custom-menu .navbar-nav > li > a {
		line-height: 20px;
	}
	.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
		position: absolute;
		right: 1.9%;
		left: auto;
		border: 1px solid #ddd;
		background: #fff;
	}

	.navbar-custom-menu > .navbar-nav {
		float: right;
		margin: 0;
	}
	.navbar-custom-menu > .navbar-nav > li {
		position: static;
	}
	.navbar-custom-menu .navbar-nav > li {
		float: left;
	}
	
	.navbar-custom-menu .navbar-nav {
		margin: 0;
		float: left;
	}
	.navbar-custom-menu .navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: 20px;
	}
	.navbar-collapse.pull-left {
		float: none !important;
	}
	.navbar-collapse.pull-left + .navbar-custom-menu {
		display: block;
		position: absolute;
		top: 0;
		right: 40px;
	}
	.content-header > .breadcrumb {
		position: relative;
		margin-top: 5px;
		top: 0;
		right: 0;
		float: none;
		background: #d2d6de;
		padding-left: 10px;
	}

}
